* {
    box-sizing: border-box;
}
body{
font-family: Arial, Helvetica, sans-serif;
    margin: unset;
    background-image: linear-gradient(to bottom, #07c2f8, #39adff, #7993f9, #ae71dd, #d245ad);
    color: #fff;
    /* witte tekst */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1em;
}

.container{
    display: flex;
    width: 90%;
    margin-left: 5%;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
        border: 5px solid black;
}

.member{
    width: 20%;
    margin-left: 4%;
    float: left;
    text-align: center;
    height: 96%;
    margin-top: 2%;
}

.member img{
    width: 100%;
}

h1{
    text-align: center;
    color: white;
    font-size: 4em;
}

nav {
    /* background: #d245ad; /* navigatiekleur */
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid black;
    box-sizing: border-box;
    width: 100%;
    display: block;
    float: top;
   
    top: 0;
    z-index: 99;
}


nav li {
    display: block;
    float: left;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li:hover {
    border-bottom: 5px solid white;
    cursor: pointer;
}

nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: right;
}